* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-family;
  background: $light-gray;
  color: $gray;
}
html, body {
  height: 100%;
  min-height: 100%;  
}

/////
// Structure of Sidebar and Content
/////
#ems-main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#ems-sidebar-parent,
#ems-content {
  flex: 1;
  height: 100%;
}

#ems-content-inner {
  padding: 31px 40px;
}

#ems-content {
  overflow: auto;
}

.ems-msg {
  margin-bottom: 20px;
  display: block;
}

.ems-white-box {
  background: #fff;
  margin: 0;
  border-radius: 3px;
}
.ems-white-box + .ems-white-box {
  border-top: 1px solid $light-gray;
}

[class*="col-"] .ems-white-box {
  margin: 0 10px;
}

.ems-hr {
  background: none;
  border: none;
  height: 1px;
  width: 100%;
  display: block;
  border-top: 1px solid $light-gray;
}

@media #{$break-mobile} {
  #ems-main {
    display: block;
  }
  #ems-content-inner {
    padding: 20px;
  }
}