////
// Fonts
////
$font-family: Verdana, Arial, tahoma, Sans-serif;

////
// Colors
////
$gray: #333;
$medium-gray: #999;
$light-gray: #eee;
$blue: #4A90E2;
$dark-blue: #4D4289;
$green: #00C8B3;
$red: #EB4A40;
$yellow: #FFBB00;

////
// Breakpoints
////
$break-mobile: "screen and (max-width: 1000px)";


////
// Classes
////
.ems-color-green {color: $green;}
.ems-color-red {color: $red;}


////
// Titles
////
.ems-title-6 {
  font-size: 1rem;
}

[class*="col-"] [class*="ems-title-"]:first-child {
  margin-top: 40px;
  margin-bottom: 15px;
}